.gallry {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 5; }
  .gallry .slides {
    height: 100%; }
    .gallry .slides .slide {
      width: 100%;
      height: inherit;
      margin: 0;
      position: absolute;
      top: 0;
      left: 100%;
      display: none; }
  .gallry .paddle-nav {
    position: absolute;
    z-index: 10;
    top: 40%;
    height: 5.7em;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .gallry .paddle-nav a {
      display: block;
      height: 5.7em;
      background-color: #fff;
      opacity: 0.3;
      border-radius: 0 5px 5px 0;
      -webkit-transition: 0.3s all ease-in-out;
      transition: 0.3s all ease-in-out; }
      @media (max-width: 767px) {
        .gallry .paddle-nav a {
          height: 3em; } }
      .gallry .paddle-nav a:hover {
        box-shadow: 1px 1px 3px 3px #333;
        opacity: 0.6; }
      .gallry .paddle-nav a.right {
        margin-left: auto;
        border-radius: 5px 0 0 5px; }
      .gallry .paddle-nav a .paddle {
        height: 5.7em;
        width: 4em;
        margin: 0 1em;
        overflow: hidden;
        content: "";
        display: block; }
        .gallry .paddle-nav a .paddle:hover::before {
          border-color: #333; }
        .gallry .paddle-nav a .paddle::before {
          border-style: solid;
          border-color: #333;
          border-width: 0.25em 0.25em 0 0;
          content: "";
          display: inline-block;
          height: 3.5em;
          box-sizing: border-box;
          position: relative;
          transform: rotate(-45deg);
          width: 4em;
          vertical-align: top;
          top: 1.2em;
          -webkit-transition: 0.3s all ease-in-out;
          transition: 0.3s all ease-in-out; }
        .gallry .paddle-nav a .paddle.paddle-right::before {
          float: right;
          right: 34px;
          transform: rotate(45deg);
          top: 0.95em; }
          @media (max-width: 767px) {
            .gallry .paddle-nav a .paddle.paddle-right::before {
              top: 0.5em; } }
        .gallry .paddle-nav a .paddle.paddle-left::before {
          transform: rotate(-135deg);
          left: 34px; }
          @media (max-width: 767px) {
            .gallry .paddle-nav a .paddle.paddle-left::before {
              top: 0.5em; } }
        @media (max-width: 767px) {
          .gallry .paddle-nav a .paddle {
            width: 3em;
            height: 3em; }
            .gallry .paddle-nav a .paddle::before {
              height: 2em;
              width: 2em; } }
    @media (max-width: 767px) {
      .gallry .paddle-nav {
        height: 3em; } }
    @media (max-width: 480px) {
      .gallry .paddle-nav {
        display: none; } }
  .gallry .dotnav {
    position: absolute;
    width: 100%;
    bottom: 1em;
    z-index: 12; }
    .gallry .dotnav ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      padding: 0; }
      .gallry .dotnav ul li {
        display: inline-block;
        height: 0.75em;
        width: 0.75em;
        margin: 0 10px;
        border: 2px solid #fff;
        border-radius: 50%;
        box-sizing: initial;
        box-shadow: 1px 1px 1px 1px #333;
        -webkit-transition: 0.3s all ease-in-out;
        transition: 0.3s all ease-in-out; }
        .gallry .dotnav ul li:hover {
          cursor: pointer;
          border: 2px solid #F2F64D; }
        .gallry .dotnav ul li.active {
          border: 2px solid #F2F64D; }

/*# sourceMappingURL=gallry.css.map */
