$hundo: 100%;
$transition: .3s all ease-in-out;
$yellow: #F2F64D;
$inline: inline-block;
$tablet: 767px;
$phones: 480px;
$em: 1em;
$dark: #333;
$light: #fff;

// flex layouts
@mixin flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

// to be used in conjunction with the @mixin flex declared above
@mixin justify-center {
  -webkit-justify-content: center;
  justify-content: center;
}

// consistent transitions
@mixin transition {
  -webkit-transition: $transition;
  transition: $transition;
}

// takes a $color argument, creates a consistent box-shadow profile
@mixin box-shadows($sizing, $spread, $color) {
  box-shadow: $sizing $sizing $spread $spread $color;
}

// medium viewports
@mixin medium {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

// small viewports
@mixin small {
  @media (max-width: #{$phones}) {
    @content;
  }
}

.gallry {
  height: $hundo;
  width: $hundo;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 5;
  .slides {
    height: $hundo;
    .slide {
      width: $hundo;
      height: inherit;
      margin: 0;
      position: absolute;
      top: 0;
      left: 100%;
      display: none;
    }
  }
  .paddle-nav {
    position: absolute;
    z-index: 10;
    top: 40%;
    height: 15%;
    min-height: $em * 5;
    width: $hundo;
    @include flex;
    a {
      display: block;
      height: $hundo;
      background-color: $light;
      opacity: 0.5;
      border-radius: 0 5px 5px 0;
      @include transition;
      &:hover {
        @include box-shadows(1px, 3px, $dark);
        opacity: 0.6;
      }
      &.right {
        margin-left: auto;
        border-radius: 5px 0 0 5px;
      }
      .paddle {
        height: $hundo;
        width: $em * 4;
        margin: 0 $em;
        overflow: hidden;
        content: "";
        display: block;
        &:hover {
          &::before {
            border-color: $dark;
          }
        }
        &::before {
          border-style: solid;
          border-color: $dark;
          border-width: $em/4 $em/4 0 0;
          content: "";
          display: $inline;
          height: $em * 3.5;
          box-sizing: border-box;
          position: relative;
          transform: rotate(-45deg);
          width: $em * 4;
          vertical-align: top;
          top: $em * 1.2;
          @include transition;
        }
        &.paddle-right {
          &::before {
            float: right;
            right: 34px;
            transform: rotate(45deg);
            top: $em * .95;
          }
        }
        &.paddle-left {
          &::before {
            transform: rotate(-135deg);
            left: 34px;
            @include medium {
              top: $em;
            }
          }
        }
        @include medium {
          width: $em * 3;
          &::before {
            height: $em * 2;
            width: $em * 2;
          }
        }
      }
    }
    @include medium {
      min-height: $em * 3;
      height: 10%;
    }
    @include small {
      display: none;
    }
  }
  .dotnav {
    position: absolute;
    width: $hundo;
    bottom: $em;
    z-index: 12;
    ul {
      @include flex;
      @include justify-center;
      padding: 0;
      li {
        display: $inline;
        height: $em * .75;
        width: $em * .75;
        margin: 0 10px;
        border: 2px solid $light;
        border-radius: $hundo / 2;
        @include box-shadows(1px, 1px, $dark);
        @include transition;
        &:hover {
          cursor: pointer;
          border: 2px solid $yellow;
        }
        &.active {
          border: 2px solid $yellow;
        }
      }
    }
  }
}
