$hundo: 100%;
$transition: .3s all ease-in-out;

body {
  margin: 0;
}

#attach {
  height: 600px;
  width: $hundo;
}


.gallry {
  height: $hundo;
  width: $hundo;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 5;
  .slides {
    height: $hundo;
    .slide {
      width: $hundo;
      height: inherit;
      margin: 0;
      position: absolute;
      top: 0;
      left: 100%;
      display: none;
      &.active {
        //left: 0;
      }
    }
  }
  .paddle-nav {
    position: absolute;
    z-index: 10;
    top: 40%;
    height: 20%;
    min-height: 6em;
    width: $hundo;
    display: -webkit-flex;
    display: flex;
    a {
      display: block;
      height: $hundo;
      &.right {
        margin-left: auto;
      }
      .paddle {
        height: $hundo;
        width: 4em;
        margin: 0 1em;
        overflow: hidden;
        content: "";
        display: block;
        &:hover {
          &::before {
            border-color: #444;
          }
        }
        &::before {
          border-style: solid;
          border-color: #fff;
          box-shadow: 1px 2px 3px #222;
          border-width: .25em .25em 0 0;
          content: "";
          display: inline-block;
          height: 4em;
          box-sizing: border-box;
          position: relative;
          transform: rotate(-45deg);
          width: 4em;
          vertical-align: top;
          top: .8em;
          -webkit-transition: $transition;
          transition: $transition;
        }
        &.paddle-right {
          &::before {
            float: right;
            right: 32px;
            transform: rotate(45deg);
          }
        }
        &.paddle-left {
          &::before {
            transform: rotate(-135deg);
            left: 32px;
          }
        }
        @media only screen and (max-width: 767px) {
          width: 3em;
          &::before {
            height: 2em;
            width: 2em;
          }
        }
      }
    }
  }
  .dotnav {
    position: absolute;
    width: 100%;
    bottom: 1em;
    z-index: 12;
    ul {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      padding: 0;
      li {
        display: inline-block;
        height: .75em;
        width: .75em;
        margin: 0 10px;
        border: 2px solid white;
        border-radius: 50%;
        box-shadow: 1px 2px 3px #222;
        -webkit-transition: $transition;
        transition: $transition;
        &:hover {
          cursor: pointer;
          border: 2px solid #444;
        }
        &.active {
          border: 2px solid #444;
        }
      }
    }
  }
}
