$hundo: 100%;

body {
  margin: 0;
}

#attach {
  height: 600px;
  width: $hundo;
}


#gallery {
  height: $hundo;
  width: $hundo;
  margin: 0 auto;
  background-color: #444;
  opacity: .8;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

#slides {
  height: $hundo;
  .slide {
    height: inherit;
    margin: 0;
    position: relative;
    top: 0;
    left: 100%;
    z-index: 2;
    &.active {
      left: 0;
      z-index: 7;
    }
  }
}
