$yellow: #faf9d1;
$purps: #654979;
$light-purple: #C4BCCA;
$dark-yellow: #B5B368;
$dark: #242424;
$light: #EAE8EC;
$small: 640px;
$border: 2px solid $purps;

@mixin small {
  @media screen and (max-width: $small) {
    @content;
  }
}

html,
body {
  width: 100%;
  margin: 0;
  color: $dark;
  background-color: $light;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: $purps;
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
  text-decoration: underline;
  &:hover {
    color: $dark-yellow;
  }
}

h1, h2 {
  color: $dark;
}

pre, code {
  background-color: $yellow;
  color: $purps;
  @include small {
    font-size: 12px;
  }
}

// base header styles
header {
  h1 {
    float: left;
  }
  a {
    float: right;
    margin-top: 1.5em;
  }
}

// section styles
section {
  h2 {
    margin-top: 2em;
  }
  // overwrite page-header border
  .page-header {
    border-bottom: $border;
  }
}

// footer styles
footer {
  min-height: 100px;
  margin-top: 50px;
  background-color: $dark;
  color: $yellow;
  p {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 1em;
    &:first-child {
      padding-top: 1.5em;
    }
    a:hover {
      color: $dark;
    }
  }
}

// first gallery slider
#attach {
  height: 600px;
  width: 100%;
  border-top: $border;
  border-bottom: $border;
}
